/*---------Estilos generales---------*/
body{
  font-family: 'Mali';
  background: url(../img/fondo-cocina.jpg);
}
.fondo-body{
  background: rgba(255,255,141,0.25)
}
.no-padding-x{
  padding-left: 0;
  padding-right: 0;
}
/*---------Estilos del header---------*/
.header{
  border-bottom: 1px solid gray;
}
.header-logo{
  border-right: 1px solid gray;
}
.logo-icon{
  color: red;
}
/*--------Estilos del contenido--------*/
/*Columna izquierda*/
.transparencia{
  background: rgba(141,255,255,0.7);
}
.search-icon{
  background: rgb(43,166,203);
}
.menu-style{
  background: rgba(0,0,0,0.25);
  border: 1px solid rgb(43,166,203);
}
.menu-style:hover, .menu-style>a:hover{
  background: rgb(43,166,203);
  border: 0.5px rgba(0,0,0,0.25);
  color: #fff;
}
.link-style{
  color: white;
}
.activo{
  background: rgb(43,166,203);
  border: rgba(0,0,0,0.25);
}
.w100{
  width: 100%;
}
.centrar{
  text-align: center;
}
.fila-style{
  margin-top: 20px;
}
.img-fav{
  border: 2px solid rgb(43,166,203);
}
.img-fav:hover{
  box-shadow: 2px 2px 2px rgb(43,166,203);
}
.less-padding{
  padding-left: 5px;
  padding-right: 5px;
}
/*Columna derecha*/
.card-pstyle{
  margin-left: 10px;
}
.card-img{
  display: block;
  padding-right: 15px;
  padding-left: 15px;
  margin-top: 5px;
  margin-bottom: 5px;
  height: 220px;
}
.card-divider{
  background: rgba(141,255,255,0.7);
}
.divider{
  border-bottom: 1px solid gray;
  margin-left: 15px;
  margin-right: 15px;
}
.texta-style{
  resize: none;
  border-radius: 5px;
  overflow-y: scroll;
}
.btn-publicar{
  background: rgb(43,166,203);
}
.media-pstyle{
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  padding: 5px;
}
.img-comment{
  width: 50px;
}
@media all and (max-width: 639px){
  .card-pstyle{
    margin-left: 0px;
  }
}
